doctype html
| <html <?php language_attributes(); ?>>
head
  meta(charset!="<?php bloginfo( 'charset' ); ?>")
  meta(name="viewport" content="width=device-width")
  title
    -wp_title( ' | ', true, 'right' );
  link(rel="shortcut icon" href="<?php bloginfo('siteurl'); ?>/favicon.png")
  - wp_head();
| <body  <?php body_class(); ?>>
