@import
'partials/settings',
'partials/functions',
'partials/mixins',
'partials/placeholders',
'partials/reset';

body {
  font-family: $font-family;
  padding: 0;
  margin: 0;
}

* {
  box-sizing:border-box;
}
